*{
    font-family:'Quicksand', sans-serif; 
}
  
body{

    background-color: rgb(249, 214, 229);
    background-image: url(images/flower1.jpg);
    background-size:30%;
    background-repeat:repeat;
    
}

h1{
    font-family:'Unbounded', cursive;
    font-size: 2.5em;
    color:#D94587;
    text-align: center;
    line-height:150%;
    text-decoration:underline;
    background-color: rgb(249, 214, 229);
}

h2{
    font-size: 1.2em;
    text-align:center;
    line-height: 1em;
}

ul{
    list-style-type: disc; 
    color: #D94587;
    text-align: start;
    line-height: 1.6em; 
}

  a:link {
    background-color: rgb(215, 180, 247);
    color: rgb(103, 1, 45);
    transition: background-color 0.5s;
  }

  a:visited{
    color: rgb(179, 2, 58);
    background-color: rgb(251, 154, 178);
    }

  a:hover {
    background-color: rgb(186, 210, 255);

}

img{
    width: 20%;
    height: 30%;
    margin-left: 2em;
}

h3{
    text-align:center;
    line-height:150%;
    text-transform:uppercase;
    margin-left:  2em;
}

p{
    line-height:1.3em;
    font-size: 1em;
    margin-left:5em;
    margin-right: 5em;
    text-align: start;
}
